<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CT3" verbose="1" parallel="methods" thread-count="3">
	<test name="basic">
		<!-- <packages>
			<package name="com.slokam.automation.opencart.testscripts"></package>
		</packages> -->
		<classes>
			<class name="com.slokam.automation.opencart.testscripts.SampleTest"></class>
		</classes>
	</test>
</suite>
